*{
    margin: 0%;
    padding: 0%;
}


body{
    background:#f1d38a ;
    
}
#heading{
    margin: 2rem;
    font-size: 40px;
    color: #f1d38a;
    font-weight: bold;
    background-color: #f08b74;
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    border-radius:50px;
    box-shadow: 0 4px 6px -1px rgb(168, 165, 165);
}
.container{
    height: 400px;
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#6ca6d0 ;
    border: 1px solid white;
    border-radius: 20%;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px -1px gray;
    max-width: 100%;
}

.btn{
height: 80px;
width:80px;
margin: 0.5rem;
border: none;
border-radius: 20%;
color:rgb(239, 244, 243);
background: #f08b74;


}
@media(max-width: 412px){
    .container{width:300px;
    height:300px}
    .btn{width:60px;
        height:60px;}
    #heading{ font-size: 30px;}
}
